li {
    text-decoration: underline;
    color: black;
}
#ueberschr {
    background-color: maroon;
    color: gold;
}
.nav-wrapper {
    background-color: maroon;
    color: gold;
}
h4 {
    padding: 20%;
    text-decoration: underline;
    color: maroon;
}
.container{
    margin: 70px;
}